

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#bstreet-statement {
	width: 100%;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000;
	color: #fff;
}

#bstreet-statement-header {
	text-align: center;
	font-size: 25px;
	padding-top: 15px;
}

#mission-statement {
	font-size: 18px;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#bstreet-social {
	width: 100%;
	height: 50px;
	background-color: #ffff00;
}

.bstreet-logo {
	position: relative;
	top: 5px;
}












